<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.lejos.ldt.core"
   name="leJOS Development Tools"
   version="1.2.0"
   provider-name="lejos.org"
   class="org.lejos.tools.eclipse.plugin.LejosPlugin">

   <runtime>
      <library name="ldt-core.jar">
         <export name="*"/>
      </library>
      <library name="tools.jar"/>
   </runtime>
   <requires>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.lejos.tools"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.jdt.debug.ui"/>
      <import plugin="org.eclipse.jdt.debug"/>
      <import plugin="org.eclipse.jdt.junit"/>
      <import plugin="org.eclipse.jdt.junit.runtime"/>
   </requires>

<extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="leJOS project"
            icon="icons/wizard.gif"
            category="org.eclipse.jdt.ui.java"
            class="org.lejos.tools.eclipse.plugin.wizards.LejosProjectWizard"
            project="true"
            id="org.lejos.tools.eclipse.plugin.wizards.LejosProjectWizard">
         <description>
            Creates a Lejos project
         </description>
      </wizard>
   </extension>
   
   <extension
         id="lejosprojectnature"
         name="LeJOS nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.lejos.tools.eclipse.plugin.natures.LejosProjectNature">
         </run>
      </runtime>
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="leJOS"
            visible="true"
            id="org.lejos.ldt.core.actionSet">
         <menu
               label="leJOS"
               path="additions"
               id="leJOSMenu">
            <separator
                  name="leJOSGroup">
            </separator>
         </menu>
         <action
               toolbarPath="leJOSGroup"
               label="Compile"
               tooltip="Compiles the sources of a leJOS project"
               class="org.lejos.tools.eclipse.plugin.actions.CompileAction"
               icon="icons/compile.gif"
               style="push"
               menubarPath="leJOSMenu/leJOSGroup"
               id="org.lejos.ldt.core.CompileAction">
         </action>
         <action
               toolbarPath="leJOSGroup"
               label="Link"
               tooltip="Links the classes for a leJOS project"
               class="org.lejos.tools.eclipse.plugin.actions.LinkAction"
               icon="icons/link.gif"
               style="push"
               menubarPath="leJOSMenu/leJOSGroup"
               id="org.lejos.ldt.core.LinkAction">
         </action>
         <action
               toolbarPath="leJOSGroup"
               label="Install firmware"
               icon="icons/firmware.gif"
               class="org.lejos.tools.eclipse.plugin.actions.FirmwareDownloadAction"
               tooltip="Download leJOS firmware to RCX"
               style="push"
               menubarPath="leJOSMenu/leJOSGroup"
               state="false"
               id="org.lejos.ldt.core.FirmwareDownloadAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaElement"
            id="org.lejos.ldt.core.link">
         <menu
               label="leJOS"
               path="additions"
               id="leJOSMenu">
            <separator
                  name="leJOSGroup">
            </separator>
         </menu>
         <action
               enablesFor="+"
               label="Compile"
               class="org.lejos.tools.eclipse.plugin.actions.CompileAction"
               tooltip="Compiles the selected source file(s)"
               icon="icons/compile.gif"
               style="push"
               state="false"
               menubarPath="leJOSMenu/leJOSGroup"
               id="org.lejos.ldt.core.CompileAction">
         </action>
         <action
               enablesFor="+"
               label="Link"
               tooltip="Links as leJOS binary"
               class="org.lejos.tools.eclipse.plugin.actions.LinkAction"
               icon="icons/link.gif"
               style="push"
               menubarPath="leJOSMenu/leJOSGroup"
               id="org.lejos.ldt.core.LinkAction">
         </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/run.gif"
            configTypeID="org.lejos.ldt.core.Run"
            id="org.lejos.ldt.core.runImage"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.lejos.ldt.core.run"
            class="org.lejos.tools.eclipse.plugin.launch.RunTabGroup"
            description="leJOS"
            id="org.lejos.ldt.core.runTabGroup">
         <launchMode
               description="leJOS"
               mode="run"/>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            delegate="org.lejos.tools.eclipse.plugin.launch.RunDelegate"
            public="true"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            name="leJOS"
            id="org.lejos.ldt.core.run"
            modes="run">
         <fileExtension
            default="true"
            extension="java">
         </fileExtension>
      </launchConfigurationType>  
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="leJOS"
            icon="icons/run.gif"
            class="org.lejos.tools.eclipse.plugin.launch.RunShortcut"
            modes="run"
            id="org.lejos.ldt.core.runShortcut">
<!--
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                    <or>
                   	  <instanceof value="org.eclipse.core.resources.IResource"/>
                   	  <instanceof value="org.eclipse.jdt.core.IJavaElement"/>
                    </or>
                    <test property="org.lejos.tools.hasMain"/>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
-->
         <perspective
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         </perspective>
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
      </shortcut>
   </extension>

</plugin>
