<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.lejos.tools"
   name="leJOS Tools"
   version="1.2.0"
   provider-name="leJOS.org">

   <runtime>
      <library name="tools-extensions.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-cli-1.0.jar"/>
      <library name="lib/tools.jar"/>
   </runtime>
   <requires>
      <import plugin="org.lejos" export="true"/>
      <import plugin="org.junit"/>
   </requires>

</plugin>
